apiVersion: v1
baseDomain: {{ dns.domain }}
compute:
- hyperthreading: Enabled
  architecture: {{ rhcos_arch }}
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  architecture: {{ rhcos_arch }}
  name: master
  platform: {}
  replicas: 1
metadata:
  creationTimestamp: null
  name: {{ dns.clusterid }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: {{ cni_network_provider }}
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
bootstrapInPlace:
  installationDisk: {{ sno.disk }}
sshKey: '{{ public_ssh_key }}'
{% if setup_registry is defined and setup_registry.deploy %}
pullSecret: '{{ lookup('file', '~/.openshift/pull-secret-updated') }}'
additionalTrustBundle: |
{{ lookup('file', '/opt/registry/certs/domain.crt') | indent(2, first=True) }}
imageContentSources:
- mirrors:
  - {{ local_registry }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ local_registry }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% else %}
pullSecret: '{{ pull_secret }}'
{% endif %}
{% if  proxy_url is defined and proxy_url != "" %}
proxy:
  httpProxy: {{ proxy_url }}
  httpsProxy: {{ proxy_url }}
  noProxy: .{{ dns.clusterid }}.{{ dns.domain }},{{ no_proxy }}
{% endif %}
